<p style="color: brown">Este é o teste de buscar em lista usando HD ao
  invés de SSD. Usar apenas console.log(), pois as impressões HTML
  demandam tempo gasto em processamento de impressão em tela, o que não
  reflete o tempo de resposta da operação em array grande! O projeto
  principal se encontra no repositório "indexeddb". Não usar esse para
  continuar a API do indexedDB!</p>
<p>No Safari, está funcionando ok, os dados estão sendo mantidos para o dia
  seguinte. Mas no Chrome, ao desligar o computador, quando abrimos novamente
  o navegador, o banco está zerado e ele executa "upgrade needed", recriando
  a tabela e perdendo os dados. Pode ser config do próprio navegador?
  Anotar no iMac e no Macbook o comportamento. Verificar se entra ou não em
  upgradeneeded():
</p>
<ol style="font-family: sans-serif;">
  <li>ao refresh</li>
  <li>ao reiniciar o navegador</li>
  <li>ao reiniciar o computador</li>
</ol>
<div><input type="search" [(ngModel)]="likesearch" placeholder="Busca por nome"/>
<button (click)="searchByName()">Buscar</button>
<button (click)="reset()">Limpar</button>
<button (click)="addFromJson()">Adicionar 200.000 do json!</button>
<button (click)="searchFromSubstrOpenCursor()">Buscar por substring usando openCursor()</button>
<button (click)="searchFromSubstrGetAll()">Buscar por substring usando getAll()</button>
</div>
<table>
  <thead>
      <th>Key</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Idade</th>
      <th colspan="2">Ações</th>
  </thead>
  <tr *ngFor="let item of clients | async">
      <td>{{ item. key}}</td>
      <td>{{ item. name }}</td>
      <td>{{ item. email }}</td>
      <td>{{ item. age }}</td>
      <td><button (click)="formdiv.hidden = false; edit(item.key)">Editar</button></td>
      <td><button (click)="delete(item.key)">Apagar</button></td>
  </tr>
</table>
<hr/><button (click)="formdiv.hidden = false; openAdd()">Adicionar</button>
<div id="formdiv" #formdiv class="modal" [hidden]="true">
  <h4>{{ currentClient.key }}</h4>
  <form>
      <br/><input [(ngModel)]="currentClient.name" type="search" name="name" placeholder="Nome do cliente"/>
      <br/><input [(ngModel)]="currentClient.email" type="email" name="email" placeholder="E-mail"/>
      <br/><input [(ngModel)]="currentClient.age" type="number" name="age" placeholder="Idade"/>
      <p><button (click)="add()">Salvar</button>
      <button (click)="formdiv.hidden = true">Cancelar</button></p>
  </form>
</div>